.tableContainer {
  overflow-x: scroll;
}

.bodyTh {
  min-width: 5rem;
}

.bodyTd {
  white-space: nowrap;
  min-width: 10rem;
}

.tableBodyTr:hover {
  cursor: pointer;
}

.selectedRow {
  background-color: #E9ECEF;
}

tr, 
th, 
td {
  text-align: center;
}