.borderedRow {
  display: flex;
  justify-content: space-between;
  padding: .5rem 0;
  border-bottom: 1px solid #E9ECEF;
}

div.borderedRow:last-of-type {
  border-bottom: none;
}

.ownerAttribute {
  text-align: start;
}

.ownerData {
  text-align: end;
}